@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ============================  Categories Start ============================ -->

    <section class="picture-categories">

      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="single-image-container">
              <div class="row-fluid">
                <div class="span1">

                  <h4 class="title">Upload Ảnh</h4>                  
                </div> <!-- end span1 -->

                <div class="span11">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#"><i class="icon-picture icon-large"></i></a></li>
                      <li><a href="#"><i class="icon-facetime-video icon-large"></i></a></li>
                      <li><a href="#"><i class="icon-music icon-large"></i></a></li>
                    </ul>
                </div> <!-- end span8 -->
               
              </div><!--  end row-fluid -->
            </div> <!-- end single-image-container -->
          </div> <!-- end span12 -->

        </div> <!-- end row -->

        <div class="single-image-title v2">
          <div class="row">
            <div class="span12">
              
            </div> <!--end span12-->
          </div> <!-- end row -->
        </div> <!-- end single-image-title -->
      </div> <!-- end container -->

    </section> <!-- end picture-categories -->



    <!-- ============================  Categories End ============================ -->

    <!-- ============================  Image Decription Starts ============================ -->


    <section class="image-decription-container">
      <div class="container">
        <div class="row" style="text-align:center;">
          <p style="text-align:justify;"><b>CHÚ Ý QUAN TRỌNG: </b><br />
                      -Có thể upload nhiều ảnh một lúc<br />
                      -Các từ khóa của mỗi ảnh ngăn cách nhau bởi dấu ,
                      -Nếu bạn muốn free ảnh nào, hãy để giá bằng 0.
                  </p>  
          <input type="file" name="imageFile" id="imageFile" multiple="multiple"  runat="server" onchange="uploadProcess();">
          <input type="checkbox" id="autoname" name="autoname"/>  Tự động lấy tên ảnh làm tag từ khóa
          <div style="display:block;float:left;position:relative;width:100%;" id="divPR1">
              
          </div>
          <p style="text-align:justify;">  
          <span id="notice"></span>.&nbsp;  
          <input type="button" class="class-form" value="Save All" onclick="saveAll();" id="saveAll" style="display:none;">  
          </p>
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end image-description-container -->

  <!-- ============================  Image Decription Ends ============================ -->
<script>
    var totalindex = -1;
    var fileInput = document.getElementById('imageFile');
    var totalItemImage = -1;
    var autoname = false;
    
    function uploadProcess() {
       
        for (i = totalItemImage+1; i < fileInput.files.length + totalItemImage+1; i++) {
            var pr = "<div style=\"background-color:#ffffff;width:200px;height:auto;display:block;possition:relative;float:left;margin-right:5px;margin-bottom:1px;\">";
            pr += "<div id=img_" + i + " class=\"progressbar\" style=\"background-color:#fff;margin-top:5px;width:200px;height:126px;display:block;possition:relative;float:left;\">";
            pr += "<div id=\"progresslabel" + i + "\" class=\"progressbarlabel\" style=\"background-color:green;width:1px;height:9px;display:block;possition:relative;float:left;\">uploading...</div>";
            pr += "</div>";
            pr += "<div style=\"background-color:#ffffff;width:200px;height:auto;display:block;possition:relative;float:left;margin-top:2px;\">Từ khóa<textarea id=keyword_" + i + " placeholder=\"Nhập từ khóa\" style=\"width:100%;\"  class=\"example\" rows=\"1\"></textarea><input type=hidden id=id_" + i + ">Giá bán<input type=text id=price_" + i + " placeholder=\"Nhập giá\" onblur=\"checkPrice(this);\"></div>";//
            pr += "</div>";
            $("#divPR1").append(pr);
            
        }
        autoname = false;
        if (document.getElementById("autoname").checked) autoname = true;
        totalindex = -1;
        $("#saveAll").show();
        newupload(fileInput.files[0].name, fileInput.files[0]);
        return false;
    }
    
    function newupload(filename, fileobj) {
        totalindex++;
        totalItemImage++;
        if (totalindex >= fileInput.files.length) return;
        //alert(totalindex);
        $("#notice").html("Đang upload xin chờ");
        filename = fileInput.files[totalindex].name;
        fileobj = fileInput.files[totalindex];
        //alert(filename + "," + fileobj);
        var formdata = new FormData();
        formdata.append(filename, fileobj);  
        //formdata.append("a", "10");
        var xhr = new XMLHttpRequest();       
        xhr.upload.addEventListener("progress", function (evt) {
            if (evt.lengthComputable) {
                var progress = Math.round(evt.loaded * 100 / evt.total);
                progress = progress * 200 / 100;
                $("#progresslabel" + totalItemImage).css("width", progress);//.progressbar("value", progress);//.html(progress);//
                //$("#progresslabel" + index).html(progress);
                //alert("ok"+totalindex);
                
            }
        }, false);
        //alert("111");
        formdata.append("autoname", autoname);
        xhr.open('POST', '/Photos/UploadImageProcess');//UploadImageProcess
        xhr.send(formdata);//formdata
        //alert("222");
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //alert(xhr.responseText);
                var str = xhr.responseText.split(":");
                var indexUploaded = totalItemImage + 1;
                $('#img_' + totalItemImage).html("<img src=\"" + str[0] + "\" width=200 height=126 id=\"image_" + totalItemImage + "\">");
                $('#id_' + totalItemImage).val(str[1]);
                $("#notice").html("Đã upload xong ảnh " + indexUploaded);
                newupload(filename, fileobj);
            }
            
        }
        

    }
    function saveAll() {
        var formdata = new FormData(); //FormData object
        if (totalItemImage < 0) {
            alert("Upload ít nhất một ảnh!");
            return;
        }
        for (var i = 0; i < totalItemImage; i++) {
            if (!autoname && document.getElementById("keyword_" + i) && document.getElementById("keyword_" + i).value == "") {
                alert("Nhập từ khóa cho ảnh này!");
                document.getElementById("keyword_" + i).focus();
                return;
            }
            if (document.getElementById("price_" + i) && document.getElementById("price_" + i).value == "") {
                alert("Nhập giá cho ảnh này!");
                document.getElementById("price_" + i).focus();
                return;
            }
        }
        
        
        formdata.append("totalitem", totalItemImage);
        for (var i = 0; i < totalItemImage; i++) {
            if (document.getElementById("keyword_"+i)) {
                formdata.append("keyword_" + i, document.getElementById("keyword_" + i).value);
                formdata.append("price_" + i, document.getElementById("price_" + i).value);
                formdata.append("id_" + i, document.getElementById("id_" + i).value);
                //alert(document.getElementById("keyword_" + i).value);
            }
        }
        //return;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Photos/Update');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == "1") {
                    alert("Cập nhật thành công");
                    window.location.href = "/Photos/User/1";
                } else {
                    alert("Chương trình đang cập nhật, xin quay lại sau!");
                }
            }
        }
    }
    
</script>