@{
    ViewBag.Title = "About";
}
<section class="section-02">
        <div class="container">
            <div class="col-md-12 col-center">
                <div class="headline">
                    <h2>
                        Bananhso.com là trang web bán ảnh stock chuyên nghiệp đầu tiên tại Việt Nam
                    </h2>


                </div>
                <div class="row">

                    <div class="col-md-4 item-section-02">
                        <div class="images"><i class="fa fa-image"></i></div>
                        <div class="title">Ảnh bản quyền của Việt Nam</div>
                        <div class="content-meta">www.bananhso.com là trang web bán ảnh stock chính thức đầu tiên và duy nhất tại Việt Nam với nguồn ảnh có bản quyền từ các nghệ sỹ nhiếp ảnh. Chúng tôi cung cấp ảnh stock dành cho các nhà thiết kế đồ họa, trang trí nội thất và quảng cáo

                        </div>
                    </div>
                    <div class="col-md-4 item-section-02">
                        <div class="images"><i class="fa fa-image"></i></div>
                        <div class="title">Giá rẻ, thanh toán thuận tiện</div>
                        <div class="content-meta">Với mức giá hợp lý, chỉ từ 150.000 đ/ ảnh*, mọi người đều có thể mua và sử dụng. Bảng giá
                                Ngoài ra, bananhso.com còn có kho tư liệu miễn phí bao gồm rất nhiều ảnh stock, wallpaper, font chữ...dành cho các bạn mới bắt đầu
                        </div>
                    </div>
                    <div class="col-md-4 item-section-02">
                        <div class="images"><i class="fa fa-image"></i></div>
                        <div class="title">Cho phép đặt hàng chụp ảnh</div>
                        <div class="content-meta">Nếu bạn không tìm thấy bức ảnh mình cần, bạn có thể sử dụng dịch vụ Đặt hàng chụp ảnhcủa bananhso.com. 
                                            Sau khi mô tả kỹ bức ảnh bạn cần, chúng tôi sẽ liên hệ với các nghệ sỹ nhiếp ảnh và liên lạc lại với bạn
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- end calendar-->

    <section class="section-03">
        <div class="container">
            <div class="col-md-10 col-center">
                <div class="title">
                    <h2>
                        Bananhso.com có nguồn ảnh stock bản quyền lớn nhất Việt Nam
                    </h2>


                </div>
                <div class="row">

                    <div class="col-md-4 item-section-03">
                        <div class="title_01"><h2>355k ảnh chụp của các nghệ sỹ</h2></div>
                        <div class="content-meta">bán ảnh bản quyền của hàng trăm nghệ sỹ nhiếp ảnh Việt Nam với rất nhiều chủ đề khác nhau: thiên nhiên, con người, ý tưởng, quảng cáo... Nếu không tìm thấy, bạn có thể Chat với nhân viên hỗ trợ để được trợ giúp hoặc Đặt hàng chụp ảnh <a href="#">Xem tiếp.. <i class="fa fa-chevroncircle--right"></i></a></div>
                    </div>
                    <div class="col-md-4 item-section-03">
                        <div class="title_01"><h2>32K file vector hình minh họa</h2></div>
                       

                        <div class="content-meta">bán rất nhiều file vector minh họa trong các lĩnh vực bao bì, nhãn, icon...
Bạn có thể tìm kiếm và tải về các file minh họa cho dự án thiết kế quảng cáo, bao bì (packaging design), mockup, thiết kế logo...
<a href="#">Xem tiếp<i class="fa fa-chevroncircle--right"></i></a></div>
                    </div>
                    <div class="col-md-4 item-section-03">
                        <div class="title_01"><h2>5.5k file video footage quảng cáo</h2></div>
                       

                        <div class="content-meta">bán các file Video footage phục vụ các dự án minh họa phim quảng cáo. bạn cần một đoạn video minh họa, một clip sử dụng cho dự án quảng cáo bất động sản...đều có thể tìm thấy tại đây. Chat với nhân viên hỗ trợ để được trợ giúp<a href="#">Xem tiếp..<i class="fa fa-chevroncircle--right"></i></a></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="section-04">
        <div class="container">
            <div class="col-md-12 col-center">
                <div class="title-about-us">
                    <h2>
                        Giới thiệu về bananhso.com, trang web bán ảnh stock lớn nhất Việt Nam
                    </h2>


                </div>
                <div class="row">
                    <p>
                        www.bananhso.com là trang web bán ảnh số theo cách chuyên nghiệp tại Việt Nam phục vụ cho việc thiết kế- chế bản và in ấn. Thư viện của bananhso.com bao gồm nhiều thể loại: ảnh JPG chất lượng cao, ảnh PNG (nền trong suốt), ảnh PSD (đã chế bản sẵn với nhiều chủ đề), web templete, vector AI, EPS, CDR… các loại để có thể phục vụ mọi nhu cầu đa dạng của nhà thiết kế chuyên nghiệp. Tư liệu ảnh của chúng tôi rất đa dạng với hầu như tất cả mọi chủ đề: con người (các độ tuổi, các loại nhân vật, các tư thế hành động, các trạng thái biểu cảm…) phong cảnh (thiên nhiên, sa mạc, thành phố, kiến trúc…) ảnh nền (chất liệu, ảnh nền ánh sáng….), ảnh đồ vật, ảnh ý tưởng… Có thể nói, bất cứ bạn nảy ra ý tưởng gì, bananhso.com sẽ có ảnh phù hợp với ý tưởng của bạn.
Với các trang web nước ngoài, bạn phải trả từ 100 đến 300$ cho một bức ảnh. Trang web bananhso.com bán ảnh stock tương tự cho bạn với giá từ 150.000 đồng (tương đương 7$) và đắt nhất là 250.000 đ (tương đương 11$). Quá rẻ cho một bức ảnh bản quyền để làm thiết kế, phải không bạn?
Ngoài ra bananhso.com còn cung cấp dịch vụ chụp ảnh độc quyền theo yêu cầu, phục vụ các khách hàng là các công ty quảng cáo- thiết kế có nhu cầu.
Đặc biệt, bananhso.com tổng hợp một thư viện rất lớn các tư liệu phục vụ thiết kế để cung cấp cho các thành viên hoàn toàn miễn phí.

                    </p>
                    <span style="color:#999999; font-size:12px;">Trang web bananhso.com có một thư viện khổng lồ hơn 1.000GB (1TB) miễn phí của tất cả mọi chủ đề phục vụ thiết kế. Thư viện này được cập nhật thường xuyên và liên tục dành cho các thành viên và khách hàng của www.bananhso.com Chúng tôi sử dụng server trong nước với tốc độ tải rất cao, không sử dụng các server miễn phí như Rapidshare, Megaupload…nên các bạn yên tâm không bao giờ sợ mất link. Nếu bạn đã từng ngồi bóp trán hàng giờ mà không nghĩ ra ý tưởng gì, bạn mới thấy hết giá trị của các thiết kế tham khảo.
Thư viện ảnh miễn phí của bananhso.com có hơn 500,000 bức ảnh độ phân giải cao. Để quý khách dễ hình dung con số khổng lồ này, chúng tôi đưa ra 1 phép tính. Với tốc độ internet ADSL hiện nay, trung bình 1 phút quý khách tải về được 1 ảnh, 1 tiếng được 60 ảnh, 1 ngày làm việc tải được tối đa khoảng 500 chiếc. Để tải về hết thư viện của bananhso.com cần 10 ngàn ngày, tương đương với khoảng 30 năm. Hơn nữa, thư viện này được cập nhật liên tục ảnh mới thường xuyên nên có thể nói là gần như vô tận. Tất cả các file download đều cho phép dùng các chương trình hỗ trợ download như IDM, Flashget, DAP…
* Phương châm của chúng tôi là: chia sẻ miễn phí tất cả mọi thứ có thể để phục vụ các nhà thiết kế tốt hơn. Đến với kho thư viện miễn phí của chúng tôi, bạn sẽ không phải mất thời gian vẽ lại một cái logo đã có sẵn, bạn tìm thấy một font chữ đẹp theo ý mình, bạn có thể lấy được ảnh hiện trạng của các phòng họp lớn để phục vụ việc thiết kế sự kiện, bạn có sẵn các tư liệu người, cây cối… để cho vào thiết kế của mình. Bạn cũng có thể lấy các file bản vẽ 3D của các vật dụng để chèn vào thiết kế, lấy hình người RPC để chèn vào file bản vẽ…Dung lượng toàn bộ phần miễn phí của chúng tôi lên đến hơn 1.000GB (1TB), nghĩa là cần 3 tháng download liên tục suốt ngày đêm bằng internet ADSL, nhưng thư viện này được cập nhật liên tục nên không bao giờ hết.
</span>



                </div>
            </div>
        </div>

    </section>


    <section class="section-05">
        <div class="container">
            <div class="col-md-12 col-center">
                <div class="headline">
                    <h2>
                        Cam kết của bananhso.com
                    </h2>


                </div>
                <div class="row">

                    <div class="col-md-4 item-section-05">
                        <div class="images"><i class="fa fa-search"></i></div>
                        <div class="title">Tìm kiếm cực nhanh bằng tiếng Việt</div>
                        <div class="content-meta">Việc tìm kiếm của bạn sẽ là một thú vui. Chỉ cần gõ từ khóa tìm kiếm và Enter là ra kết quả. Ngay cả khi bạn có cả một bộ đĩa CD và một quyển catalogue kèm theo, chẳng ai thích việc ngồi tra cứu một quyển sách dày cộp hoặc lục tung một đống CD tư liệu hàng trăm đĩa chỉ để tìm một chiếc ảnh. Khi bạn tìm thấy file mình cần, rất đơn giản, chỉ cần tải về. Tất cả các file tải về của chúng tôi đều cho phép dùng các chương trình hỗ trợ download như IDM, Flashget, DAP… Chúng tôi sử dụng server trong nước với tốc độ tải rất cao, không sử dụng các server miễn phí như Rapidshare, Megaupload…nên các bạn yên tâm không bao giờ sợ mất link	  <a href="#"> Liên hệ <i class="fa fa-chevron-circle-right"></i></a> </div>
                    </div>
                    <div class="col-md-4 item-section-05">
                        <div class="images"><i class="fa fa-comments-o"></i></div>
                        <div class="title">Hỗ trợ 24/7</div>
                        <div class="content-meta">Trang web bananhso.com phục vụ việc bán ảnh stock tự động 24/7. Chẳng ai có thể biết một ý tưởng quảng cáo của bạn sẽ xuất hiện lúc nào. Bạn có thể load ảnh ngay lập tức khi cần (đặc thù của công việc quảng cáo là rất gấp- chúng tôi hiểu điều đó). Trang web bananhso.com hỗ trợ khách hàng qua số điện thoại hoặc tư vấn trực tiếp qua FB, Skype trong tất cả các ngày làm việc trong tuần. Liên hệ <a href="#"> Liên hệ <i class="fa fa-chevron-circle-right"></i></a> </div>
                    </div>
                    <div class="col-md-4 item-section-05">
                        <div class="images"><i class="fa fa-money"></i></div>
                        <div class="title">Giá rẻ, thanh toán thuận tiện</div>
                        <div class="content-meta">Giá cả hấp dẫn, rất nhiều gói cước khác nhau cho mọi đối tượng, từ nghệ sỹ tự do, nhân viên thiết kế đồ họa đến cả một công ty quảng cáo lớn. Với các trang web nước ngoài, bạn phải trả từ 100 đến 300$ cho một bức ảnh. Nay bạn có thể mua một bức ảnh tương tự từ thư viện của chúng tôi với giá từ 150.000 đồng (tương đương 7$). Thanh toán thuận tiện tại địa chỉ khách hàng. Bạn sẽ không phải lo lắng về chuyện đảm bảo an toàn cho thẻ tín dụng của mình nữa.  Bảng giá<a href="#"> Liên hệ <i class="fa fa-chevron-circle-right"></i></a> </div>
                    </div>
                    <div class="text-3">
                        <p>
                            *Tại sao bạn lại phải tìm kiếm trên Google một bức ảnh đề cho vào thiết kế? Vừa khó tìm, ra nhiều kết quả mất thời gian ngồi lọc, và chất lượng ảnh hoàn toàn không như ý muốn?
*Khi bạn có cả bộ hàng chục CD ảnh, và kèm theo một quyển sách in hình thumbnail. Mỗi khi muốn tìm một cái ảnh bạn có muốn mở quyển sách, giở qua hàng trăm trang để tìm một cái hình ưng ý, rồi dò ra cái đĩa CD cần thiết để mở ra không? Một bộ CD như vậy liệu có đủ chất lượng để bảo quản được qua 1 năm không?
*Khi bạn có cả trăm GB dữ liệu trong ổ cứng, chứa đủ mọi thể loại ảnh tư liệu. Bạn nhớ là có một bức ảnh hình em bé trong lớp học. Khi cần bạn có tìm ra chính xác cái ảnh trong cả đống dữ liệu đó không? Hoặc bạn nảy ra một ý tưởng, bạn cần có một bức ảnh chàng thanh niên cầm điện thoại, liệu bạn có thể tìm trong đống tư liệu của mình ra chiếc ảnh cần thiết hay không?
*Bạn bỏ tiền ra mua bộ DVD ảnh tư liệu bán sẵn trên thị trường, rồi copy vào ổ cứng để bảo quản. Bạn mất mấy chục GB ổ cứng. Và bạn có nghĩ rằng bạn chỉ dùng được vài ảnh trong số đó, còn lại là lưu để đấy hay không?

                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section-04">
        <div class="container">
            <div class="col-md-12 col-center">
                <div class="headline">
                    <h2>
                        Ưu điểm của bananhso.com so với các trang web nước ngoài
                    </h2>


                </div>
                <div class="row">


                    <div class="text-3">
                        <p>
                            Trên thế giới có rất nhiều trang web chuyên bán ảnh số nổi tiếng như: www.corbis.com, www.getyimages.com... Họ cung cấp rất nhiều bức ảnh chụp chất lượng cao. Tuy nhiên, www.bananhso.com được làm ra để phục vụ đối tượng là người làm thiết kế của Việt Nam. Chúng tôi đã nghiên cứu làm cách nào phù hợp nhất đối với các nhà thiết kế trong nước mà các trang web nước ngoài không làm được. So sánh dưới đây cho bạn thấy rõ điều đó:
                        </p>
                    </div>
                    <table class="table table-striped">
                        <tr>
                            <td>Trang web nước ngoài</td>
                            <td>www.bananhso.com</td>

                        </tr>
                        <tr>
                            <td>Ảnh chụp cực kỳ sáng tạo</td>
                            <td>Ảnh chụp sáng tạo không kém </td>

                        </tr>

                        <tr>
                            <td>Chỉ cho phép thanh toán bằng thẻ Visa- Master.</td>
                            <td>Thanh toán tại nhà- tại công ty khách hàng. Thanh toán qua các dịch vụ của Việt Nam</td>

                        </tr>
                        <tr>
                            <td>Không bán cho thị trường Việt Nam, quý khách có thẻ cũng chẳng thể nào mua được vì họ đã block các địa chỉ IP từ Việt Nam (do hiện tượng dùng thẻ tín dụng ăn cắp để mua ảnh quá nhiều)</td>
                            <td>Chỉ nhằm phục vụ khách hàng Việt Nam. </td>

                        </tr>

                        <tr>
                            <td>Tìm kiếm phức tạp- từ khóa lằng nhằng
Tốc độ load chậm vì server ở nước ngoài
</td>
                            <td>Tìm kiếm cực nhanh, giao diện hoàn toàn bằng Tiếng Việt dễ hiểu. Load cực nhanh</td>

                        </tr>
                        <tr>
                            <td>Giá rất đắt ( tối thiểu là 100$ cho ảnh 2MB, 180$ cho ảnh 5MB, 300$ cho ảnh 15MB)
Tham khảo giá tại đây(link đến một trang ảnh điển hình)
</td>
                            <td>Giá rất rẻ: 150.000 đồng (tương đương 7$) và đắt nhất là 250.000 đ (tương đương 11$)
Tham khảo bảng giá của chúng tôi (link đến trang bảng giá)
</td>

                        </tr>
                        <tr>
                            <td>Độ phân giải không đảm bảo. Ảnh giới thiệu là 2MB thường chỉ có dung lượng 200K</td>
                            <td>Độ phân giải tốt thiểu 250 dpi. Dung lượng ảnh tối thiểu 4MB</td>

                        </tr>
                        <tr>
                            <td>Không có ảnh miễn phí. </td>
                            <td>Có một thư viện khổng lồ các ảnh miễn phí thuộc tất cả các chủ đề</td>
                        </tr>
                        <tr>
                            <td>Không có dịch vụ chụp ảnh độc quyền</td>
                            <td>Có dịch vụ sắp xếp chụp ảnh độc quyền theo yêu cầu</td>
                        </tr>
                        <tr>
                            <td>Ảnh người chủ yếu là Âu- Mỹ. Phong cảnh cũng chủ yếu là Âu- Mỹ, khó phù hợp với các thiết kế trong nước</td>
                            <td>Chủ yếu các ảnh người và phong cảnh là châu Á và Việt Nam, có một phần là của Âu- Mỹ, rất phù hợp với các thiết kế trong nước</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </section>