@{
    ViewBag.Title = "Home Page";
    
}

<!-- ============================  Main Picture Start ============================ -->

    <section class="main-pictures-cotainer" style="height:300px;background-image:url('/Images/sl1.jpg');background-repeat:no-repeat;background-position:center;background-size:100% 300px;" id=mainbg>
      <div class="container" >
        <div class="row">
          <div class="span12">
            <div class="content-text">
              <h1 class="title">Download hàng nghìn bức ảnh miễn phí</h1>
			  <h1 class="title">Tìm mua những bức ảnh chuyên nghiệp với độ phân giải cực cao</h1>
              <h4 class="subtitle">Được chụp bởi những nhiếp ảnh gia chuyên nghiệp và những người đam mê nhiếp ảnh</h4>
			  <h4 class="subtitle"><strong>750,789,586</strong> file ảnh.</h4>
            </div><!--  end content-text -->
          </div> <!-- end span12 -->
        </div> <!-- end row -->        
        
      </div><!--  end container -->

    </section> <!-- end main-pictures-container -->
    <!-- ============================  TOP IMAGES START ============================ -->
    <section class="top-images">
      <div class="container">
        <div class="row">
          <div class="span6">
              <h4 class="title">Top ảnh đẹp miễn phí tuần này</h4>
          </div> <!-- end span6 -->
          <div class="span6">
            <a href="#" class="pull-right random"><i class="icon-random icon-large"></i></a>
          </div> <!-- end span6 -->
        </div> <!-- end row -->

        <div class="images-container">
          <div class="row">
              @foreach (var item in ViewBag.news) { 
                  <div class="span3">
                      <figure class="top-img">
                        <img src="@item.link_thumbail_small" alt="img">
                        <figcaption class="img-meta">
                          @*<div class="row-fluid">
                            <div class="span8">
                              <a href="#" class="img-id">#Đẹp Fashion show</a>
                              <a href="#" class="img-tags">Thời trang</a>
                            </div>
                            <div class="span4">

                              <a href="#" class="btn download-btn"><i class="icon-download"></i></a>
                      
                            </div>

                          </div>*@
                          <div class="roll-over">
                              <a href="#" class="btn"><span class="bucket">&#128092;</span></a>
                          </div> <!-- end roll-over -->
                        </figcaption> <!-- end img-meta -->
                      </figure> <!-- end top-img -->
                    </div><!--  end span3 -->
              }
          </div> <!-- end row -->
        </div> <!-- end images-container -->
        
      </div> <!-- end container -->
      
    </section> <!-- end top-images -->
<script>
		var sl=0;
		var index;
		function changeBG(){
			$('#mainbg').animate({opacity: 0.9}, 1000,changeBGDO).animate({opacity: 1}, 1000);
		}
		function changeBGDO(){
			sl++;
			sl=sl%3;
			index=sl+1;
			$('#mainbg').css("background-image","url('/Images/sl"+index+".jpg')");
			
		}
		setInterval(changeBG, 3000);
	
</script>