@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="search-index" style="background-image:url(/Content/img/search-index-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-center">

                    <div class="input-group">

                        <div class="input-group-btn">
                            <button id="dropdown-option-index" type="button" class="btn btn-default dropdown-toggle dropdown-option-index" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tất cả các loại<span class="fa fa-angle-down"></span> <span class="sr-only">Tất cả các loại</span> </button>
                            <div id="ul-dropdown-option-index" class="ul-dropdown-option-index">
                                <div class="item-checkbox">
                                    <input type="checkbox" name="checkbox30" id="checkbox30" checked class="css-checkbox"><label for="checkbox30" class="css-label">Ảnh số</label>
                                </div>
                                <div class="item-checkbox">
                                    <input type="checkbox" name="checkbox31" id="checkbox31" class="css-checkbox"><label for="checkbox31" class="css-label">Vector</label>
                                </div>
                                <div class="item-checkbox">
                                    <input type="checkbox" name="checkbox32" id="checkbox32" class="css-checkbox"><label for="checkbox32" class="css-label">Video</label>
                                </div>
                            </div>
                        </div>
                        <div class="group-input-search-index">
                            <input id="input-search-index" type="text" class="form-control input-search-index" aria-label="Nhập từ khóa" placeholder="Nhập từ khóa tìm kiếm">
                            
                        </div>

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default button-search-index" onclick="search();"><i class="fa fa-search"></i></button>

                        </div>



                    </div>


                </div>
            </div>
            <div class="text-bg-search-index">Trang Web bán ảnh Stock bản quyền số 1 Việt Nam. <a href="/Home/Price">Bảng giá và hình thức thanh toán <i class="fa fa-chevron-circle-right"></i></a></div>
        </div>
    </section>
 <section class="service-index " style="background-color:#f3f3f3">
        <div class="container">
            <div class="col-md-10 col-center">
                <div class="headline">
                    <h2>
                        Bananhso.com là trang web bán ảnh stock chuyên nghiệp đầu tiên tại Việt Nam 
                    </h2>


                </div>
                <div class="row">

                    <div class="col-md-4 item-service-index">
                        <div class="images"><i class="fa fa-image"></i></div>
                        <div class="title">Ảnh bản quyền của Việt Nam</div>
                        <div class="content-meta">
                            www.bananhso.com là trang web bán ảnh stock chính thức đầu tiên và duy nhất tại Việt Nam với nguồn ảnh có bản quyền từ các nghệ sỹ nhiếp ảnh. Chúng tôi cung cấp ảnh stock dành cho các nhà thiết kế đồ họa, trang trí nội thất và quảng cáo

                        </div>
                    </div>
                    <div class="col-md-4 item-service-index">
                        <div class="images"><i class="fa fa-image"></i></div>
                        <div class="title">Giá rẻ, thanh toán thuận tiện</div>
                        <div class="content-meta">Với mức giá hợp lý, chỉ từ 150.000 đ/ ảnh*, mọi người đều có thể mua và sử dụng. Bảng giá
Ngoài ra, bananhso.com còn có kho tư liệu miễn phí bao gồm rất nhiều ảnh stock, wallpaper, font chữ...dành cho các bạn mới bắt đầu
</div>
                    </div>
                    <div class="col-md-4 item-service-index">
                        <div class="images"><i class="fa fa-image"></i></div>
                        <div class="title">Cho phép đặt hàng chụp ảnh</div>
                        <div class="content-meta">Nếu bạn không tìm thấy bức ảnh mình cần, bạn có thể sử dụng dịch vụ Đặt hàng chụp ảnhcủa bananhso.com. 
Sau khi mô tả kỹ bức ảnh bạn cần, chúng tôi sẽ liên hệ với các nghệ sỹ nhiếp ảnh và liên lạc lại với bạn
</div>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- end calendar-->
    <section class="post-index">

        <div class="container">
            <div class="headline">
                <h2>Kho tư liệu miễn phí của bananhso.com</h2>
            </div>

            <ul class="post-menu-cat">
                <li class="active" ><a class="col-xs-12 col-sm-4 col-md-2" href="#">Tất cả các loại</a></li>
                <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Ảnh stock</a></li>
                <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Vector</a></li>
                @*<li><a class="col-xs-12 col-sm-4 col-md-2" href="#">PSD</a></li>
                <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Font chữ</a></li>
                <li><a class="col-xs-12 col-sm-4 col-md-2" href="#">Hình nền</a></li>*@

            </ul>
            <div class="clearfix"></div>
            
            <div class="list-post-index row list-gallery-index-08">
                @Html.Partial("~/Views/_displayimage.cshtml")
                @foreach (var item in ViewBag.news) { 
                    <div class="col-xs-12 col-sm-4 col-md-3 post-item">
                        <div class="post-item-thumb img-resize"><a href="#" onclick="imagepage(@item.id)"><img src="@Ichup.Config.domain/@item.link_thumbail_small" alt="#"></a></div>
                        <div class="post-item-info">
                            <h3 class="post-item-title"><a href="#">Menu 1</a></h3>
                            <div class="post-item-meta">@item.keywords</div>
                            <a class="post-item-more" href="#">Đường link <i class="fa fa-chevron-circle-right"></i></a>       
                         </div>
                    </div>
                }
            </div>

            <div class="clearfix"></div>
            <nav class="nav-pagination">
                <ul class="pagination">
                    <li><span href="#" aria-label="Previous">Trang</span></li>
                    <li><a href="#">1</a></li>
                    <li><span href="#">trong số 325</span></li>

                    <li><a href="#" class="bg-arrow">›</a></li>
                    <li><a href="#" class="bg-arrow" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
        <!--<div class="bg-wrapper-stripes">
            <div class="container container-end">

            </div>
        </div>-->
    </section><!-- end news-index-->
    @*<img src="https://s3-ap-southeast-1.amazonaws.com/bananhso/df19283c-004e-4c64-b92f-9fc3868bed0f-a52cd2fd.jpg">*@
<script>
		var sl=0;
		var index;
		function changeBG(){
			$('#mainbg').animate({opacity: 0.9}, 1000,changeBGDO).animate({opacity: 1}, 1000);
		}
		function changeBGDO(){
			sl++;
			sl=sl%3;
			index=sl+1;
			$('#mainbg').css("background-image","url('/Images/sl"+index+".jpg')");
			
		}
		setInterval(changeBG, 3000);
		var currentId = -1;
		//function imagepage(id) {
		//    currentId = id;
		//    var formdata = new FormData(); //FormData object
		//    formdata.append("id", id);
		//    var xhr = new XMLHttpRequest();
		//    xhr.open('POST', '/Photos/getImage');
		//    xhr.send(formdata);
		//    var content = "";
		//    $("#loadingimage").show();
		//    $("#imagepage").show();
		//    $("#image_source").attr("src", "/Images/loading.gif"); 
		//    xhr.onreadystatechange = function () {
		//        if (xhr.readyState == 4 && xhr.status == 200) {
		//            if (xhr.responseText != "0") {
		//                //alert("Cập nhật thành công");
		//                //window.location.href = "/Photos/User/1";
		//                var news = '{"news":' + xhr.responseText + '}';
		//                var json_parsed = $.parseJSON(news);      
		//                for (var i = 0; i < json_parsed.news.length; i++) {
		//                    var src = json_parsed.news[i].link_thumbail_big;
		//                    var id = json_parsed.news[i].id;
		//                    var price = json_parsed.news[i].price;
		//                    var image_width_height = json_parsed.news[i].width + "x" + json_parsed.news[i].height;
		//                    var image_keyword = json_parsed.news[i].keywords;
		//                    $("#image_source").attr("src", src);
		//                    $("#image_id").html("File ID - #" + id);
		//                    $("#image_price").html(price);
		//                    $("#image_price2").html("Giá: " + formatCurrency(price));
		//                    $("#image_width_height").html(image_width_height);
		//                    $("#image_keyword").html("Từ khóa:"+image_keyword);
		//                }
		//                $("#loadingimage").hide();
		//            } else {
		//                alert("Chương trình đang cập nhật, xin quay lại sau!");
		//            }
		//        }
		//    }
		//}
		function search() {

		    var k = document.getElementById("input-search-index").value;

		    if (k == "") {
		        alert("Bạn phải nhập từ khóa");
		        return;
		    }
		    var url = "/Search?k=" + k;
		    //alert(url);
		    window.location.href = url;


		}

</script>