@{
    ViewBag.Title = "Price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-02">
        <div class="container">
            <div class="col-md-12 col-center">
                <div class="headline">
                    <h2>
                        bananhso.com bán ảnh stock với rất nhiều mức giá phù hợp
                    </h2>
                </div>
                <div class="row">

                    <div class="col-md-4 item-section-02">
                        <div class="images"><i class="fa fa-user"></i></div>
                        <div class="item-index-5">
                            <div class="title-5">Gói cá nhân</div>
                            <div class="main-5">
                                <div class="col-md-5 text-5">2 ảnh</div>
                                <div class="col-md-7">
                                    <div class="text-5-2">499.000 VND</div>
                                    <div class="text-5-1"></div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="more col-md-4 col-md-offset-4">Mua ngay</div>
                                <p>Lưu ý: cần phải tải ảnh trong thời hạn 1 tháng</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 item-section-02">
                        <div class="images"><i class="fa fa-users"></i></div>
                        <div class="item-index-5">
                            <div class="title-5">Gói chuyên nghiệp</div>
                            <div class="main-5">
                                <div class="col-md-5 text-5">05 ảnh</div>
                                <div class="col-md-7">
                                    <div class="text-5-2">999.000 VND</div>
                                    <div class="text-5-1">Tiết kiệm 500.000 VND</div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="more col-md-4 col-md-offset-4">Mua ngay</div>
                                <p>Lưu ý: cần phải tải ảnh trong thời hạn 6 tháng</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 item-section-02">
                        <div class="images"><i class="fa fa-image"></i></div>
                        <div class="item-index-5">
                            <div class="title-5">Gói công ty</div>
                            <div class="main-5">
                                <div class="col-md-5 text-5">10 ảnh</div>
                                <div class="col-md-7">
                                    <div class="text-5-2">1.499.000 VND</div>
                                    <div class="text-5-1">Tiết kiệm 1000.000 VND</div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="more col-md-4 col-md-offset-4">Mua ngay</div>
                                <p>Lưu ý: cần phải tải ảnh trong thời hạn 12 tháng</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="section-06">
        <div class="container">
            <div class="col-md-12 col-center">
                <div class="headline">
                    <h2>
                        bananhso.com cung cấp nhiều cách thanh toán khác nhau thuận tiện cho bạn
                    </h2>


                </div>
                <div class="row">

                    <div class="col-md-4 item-section-06">
                        <div class="images"><i class="fa fa-money"></i></div>
                        <div class="title">Thanh toán tiền mặt</div>
                        <div class="content-meta">Quí khách hàng có thể thanh toán bằng tiền mặt tại địa chỉ:Công ty Cổ Phần Sáng Tạo, Tầng 2, tòa nhà Kim Hoàn, ngõ 19 Duy Tân Hà Nội <a href="#">Xem thêm...</a></div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0638767692813!2d105.77943221489772!3d21.030129985997668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b34c247f01%3A0xbcaa38ed60d5519!2zTmfDtSAxOSBEdXkgVMOibiwgROG7i2NoIFbhu41uZyBI4bqtdSwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1463413076418" width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 item-section-06">
                        <div class="images"><i class="fa fa-laptop"></i></div>
                        <div class="title">Chuyển khoản ngân hàng</div>
                        <div class="content-meta">
                            Viecombank
                            Chủ tài khoản: Nguyễn Khánh Tùng
                            Số tài khoản: 01134235235 5 
                            Mở tại: Vietcombank chi nhánh Thành Công

                        </div>
                    </div>
                    <div class="col-md-4 item-section-06">
                        <div class="images"><i class="fa fa-credit-card-alt"></i></div>
                        <div class="title">Thanh toán qua thẻ</div>
                        <div class="content-meta">
                            Bananhso.com hỗ trợ thanh toán qua hầu hết các loại thẻ ngân hàng của Việt nam, bao gồm: Viettinbank, Viecombank, Ngân lượng, Bảo Kim
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    
