@{
    ViewBag.Title = "Rule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-07">
        <div class="container">
            <div class="col-md-12 col-center">
                <div class="headline">
                    <h2>
                        Bản quyền và điều khoản sử dụng
                    </h2>
                    <p>Lưu ý: Khi vào xem trang web, đăng ký thành viên, mua ảnh, bán ảnh…, mặc nhiên mọi người đều đã đọc và đồng ý các điều khoản dưới đây của banaanhso.com. Nếu không đồng ý với bất kỳ điều khoản nào, vui lòng ngưng sử dụng dịch vụ của chúng tôi</p>

                </div>
                <div class="row">
                    <div class="title-7">1. Mục đích hoạt động của bananhso.com <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    <div class="clear"></div>
                    <p>Trang webwww.bananhso.comđược phát triển nhằm trở thành cầu nối chia sẻ hình ảnh. Đây là website tập hợp những bức ảnh từ các cơ quan, báo chí, thông tấn cho đến phóng viên, mọi đối tượng sử dụng Internet có nhu cầu chia sẻ ảnh lên mạng Internet, các nhiếp ảnh gia chuyên nghiệp, không chuyên, người yêu thích nghệ thuật nhiếp ảnh, những người có nhu cầu sử dụng ảnh để phục vụ công việc chuyên môn...  
Trang webwww.bananhso.com là website đầu tiên tại Việt Nam tiến hành thương mại hóa bản quyền các bức ảnh được đăng tải lên trang. Mọi bức ảnh đăng tải trên website www.bananhso.com đều có thể được bán và mua bản quyền. Mọi người đều có thể đăng ảnh lên website www.bananhso.comđể bán nhưng mức giá là do bananhso.com quyết định
Những bức ảnh xuất hiện trên trang www.bananhso.comcần được chính tác giả của nó đảm bảo tuân theo đúng các điều lệ của pháp luật, giữ vững nét văn hóa, phong tục tập quán và các giá trị truyền thống của dân tộc Việt Nam. Chúng tôi chỉ là đơn vị môi giới bán hàng, và hệ thống trang web hoạt động tự động, thế nên chúng tôi hoàn toàn không chịu trách nhiệm về những nội dung phản động và không lành mạnh của bất kỳ tác giả nào đưa lên. 
Trang webwww.bananhso.com được xây dựng nhằm tạo một sân chơi lành mạnh cho tất cả những ai quan tâm, yêu thích và gắn bó với nghệ thuật nhiếp ảnh. Vì một sân chơi lành mạnh, vì một niềm đam mê và vì sự phát triển của www.bananhso.com, chúng tôi mong muốn sự hợp tác và đóng góp của tất cả thành viên tham gia. 
<a href="#">Xem thêm</a> <i class="fa fa-chevron-circle-right"></i></p>

                </div>
            </div>
        </div>
    </section>


    <section class="section-04">
        <div class="container">
            <div class="col-md-12 col-center">
                
                <div class="row">
                    <div class="title-7">2. Quy định  <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    <p>2.1 - Quy định về thương mại và bản quyền ảnh trên website </p>
<p>2.1.1: Khi giao dịch, đương nhiên người mua và bán phải chấp hành theo thỏa thuận mà BQT đã nêu ra tại thời điểm liên hệ để thực hiện giao dịch. </p>
<p>2.1.2: Các đối tượng khi tham gia vào website www.bananhso.com (hoặc www.bananhso.com) phải có bản quyền hợp pháp (theo Luật Sở hữu trí tuệ của Nước CHXHCN Việt Nam) đối với các bức ảnh của mình khi thực hiện các quy trình Đăng ảnh, mua bán ảnh. Bản quyền hợp pháp này do chính cá nhân - đối tượng tham gia - chịu trách nhiệm và đòi hỏi phải được chứng minh nếu phát sinh các tranh chấp hoặc khiếu kiện. www.bananhso.com (hoặc www.bananhso.com) không chịu trách nhiệm hoặc có liên quan đến vấn đề bản quyền mỗi bức ảnh của đối tượng tham gia; www.bananhso.com (hoặc www.bananhso.com) đơn thuần là công cụ thanh toán trung gian giữa bên Bán và bên Mua. </p>
<p>2.1.3: Để thuận tiện cho quá trình giao dịch, mọi đối tượng tham gia quá trình mua bán bản quyền ảnh tại www.bananhso.com (hoặc www.bananhso.com) phải nghiễm nhiên đồng ý với quy định sau: </p>
<p>2.1.3 - a. Tham gia theo phương thức Ảnh miễn phí: Ảnh miễn phí là ảnh không tham gia vào quá trình Mua – Bán trên www.bananhso.com (hoặc www.bananhso.com). Ảnh được post lên website với mục đích chia sẻ, tất cả các đối tượng khác khi tham gia vào website đều có thể được Xem và Tải ảnh miễn phí. Với phương thức Ảnh miễn phí, người Bán bản quyền ảnh sẽ không có doanh thu. </p>
<p>2.1.3 - b. Tham gia theo phương thức Bán chia sẻ: Bên A có quyền bán bức ảnh, bộ sưu tập ảnh, tuy nhiên chỉ dừng lại ở Quyền tài sản (theo Điều 20, Chương II, Mục 1 Luật sở hữu trí tuệ), không bao gồm Quyền Nhân thân (Điều 19, Chương II, Mục 1 Luật sở hữu trí tuệ) mà bên A sở hữu hợp pháp cho nhiều đối tượng khác nhau. Tất cả đối tượng mua bản quyền ảnh theo phương thức này sẽ có đủ Quyền tài sản đối với bức ảnh của bên Bán. (Xem chi tiết tại phần trích lục phía dưới) </p>
<p>2.1.3 - c. Tham gia theo phương thức Bán độc quyền: Bên A có quyền bán bản quyền của bức ảnh, bộ sưu tập ảnh, tuy nhiên chỉ dừng lại ở Quyền tài sản (theo Điều 20, Chương II, Mục 1 Luật sở hữu trí tuệ), không bao gồm Quyền Nhân thân (Điều 19, Chương II, Mục 1 Luật sở hữu trí tuệ) mà bên A sở hữu hợp pháp cho duy nhất một đối tượng. Đối tượng duy nhất mua bản quyền ảnh theo phương thức này sẽ có đủ Quyền tài sản đối với bức ảnh của bên Bán. (Xem chi tiết tại phần trích lục) </p>
<p>2.1.3 - d. Với phương thức nào khác 3 phương thức nói trên, bên Bán có quyền đề xuất và sẽ chỉ được thực thi nếu có sự đồng ý của www.bananhso.com (hoặc www.bananhso.com)  </p>
<p>2.1.4: Về thời hạn chia sẻ hoặc mua bán bản quyền ảnh, bên Bán hoàn toàn có quyền được đặt ra thời gian chia sẻ miễn phí hoặc bán bản quyền các bức ảnh theo ý mình. Khi thời gian mà tác giả đã chọn hết hạn, các bức ảnh này sẽ tự động không được tham gia vào bất cứ quá trình chia sẻ miễn phí hoặc mua, bán bản quyền trên www.bananhso.com (hoặc www.bananhso.com).  </p>
<p>2.2: Một số quy định khác: </p>
<p>- Không chấp nhận bất cứ thông tin và hình ảnh nào đi ngược với thuần phong mỹ tục và truyền thống văn hoá của Việt Nam, mang tính chất khiêu dâm, liên quan đến chính trị hoặc tôn giáo, hoặc vi phạm pháp luật hiện hành.  </p>
<p>- Thành viên phải chịu trách nhiệm về nội dung thông tin và hình ảnh do mình gửi lên www.bananhso.com (hoặc www.bananhso.com). Bản quyền có thể thuộc về thành viên hoặc www.bananhso.com (hoặc www.bananhso.com) tùy theo từng trường hợp cụ thể. Trong trường hợp trích dẫn thông tin hoặc sử dụng hình ảnh không phải của mình, thành viên phải ghi rõ nguồn gốc xuất xứ và phải được sự đồng ý cho phép của tác giả nguồn gốc trong trường hợp cần thiết.  </p>
<p>- Không được phép quảng cáo dưới mọi hình thức. Khi cần quảng cáo các thành viên có thể liên hệ với BQT để biết thêm chi tiết.  </p>
<p>- Không được spam hay sử dụng quyền bình ảnh để đả kích lẫn nhau dưới mọi hình thức.  </p>
<p>- BQT không chịu trách nhiệm đối với bất cứ một thông tin nào do thành viên post lên. Trong trường hợp thấy cần thiết, một thành viên BQT có quyền xóa, thay đổi hoặc chỉnh sửa nội dung bài viết của thành viên post lên mà không cần phải thông báo trước. </p>
. <a href="#">Xem thêm</a> <i class="fa fa-chevron-circle-right"></i></p>

                </div>
            </div>
        </div>
    </section>



    <section class="section-07">
        <div class="container">
            <div class="col-md-12 col-center">

                <div class="row">
                    <div class="title-7">3. Trích lục: <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    <div class="clear"></div>
                    <p>Dưới đây là Trích lục Điều 18, Điều 19 và điều 20 Chương II, Mục 1 Luật sở hữu trí tuệ  <a href="#">Xem thêm</a> <i class="fa fa-chevron-circle-right"></i></p>
                    <p id="quote" style="display:none;">Chương II
Nội dung, giới hạn quyền, thời hạn bảo hộ quyền tác giả, quyền liên quan
Mục 1: Nội dung, giới hạn quyền, thời hạn bảo hộ quyền tác giả  
Điều 18. Quyền tác giả 
Quyền tác giả đối với tác phẩm quy định tại Luật này bao gồm quyền nhân thân và quyền tài sản. 
Điều 19. Quyền nhân thân 
Quyền nhân thân bao gồm các quyền sau đây: 
1. Đặt tên cho tác phẩm; 
2. Đứng tên thật hoặc bút danh trên tác phẩm; được nêu tên thật hoặc bút danh khi tác phẩm được công bố, sử dụng; 
3. Công bố tác phẩm hoặc cho phép người khác công bố tác phẩm; 
4. Bảo vệ sự toàn vẹn của tác phẩm, không cho người khác sửa chữa, cắt xén hoặc xuyên tạc tác phẩm dưới bất kỳ hình thức nào gây phương hại đến danh dự và uy tín của tác giả. 
Điều 20. Quyền tài sản 
1. Quyền tài sản bao gồm các quyền sau đây:  
a) Làm tác phẩm phái sinh; 
b) Biểu diễn tác phẩm trước công chúng; 
c) Sao chép tác phẩm; 
d) Phân phối, nhập khẩu bản gốc hoặc bản sao tác phẩm; 
đ) Truyền đạt tác phẩm đến công chúng bằng phương tiện hữu tuyến, vô tuyến, mạng thông tin điện tử hoặc bất kỳ phương tiện kỹ thuật nào khác; 
e) Cho thuê bản gốc hoặc bản sao tác phẩm điện ảnh, chương trình máy tính. 
2. Các quyền quy định tại khoản 1 Điều này do tác giả, chủ sở hữu quyền tác giả độc quyền thực hiện hoặc cho phép người khác thực hiện theo quy định của Luật này. 
3. Tổ chức, cá nhân khi khai thác, sử dụng một, một số hoặc toàn bộ các quyền quy định tại khoản 1 Điều này và khoản 3 Điều 19 của Luật này phải xin phép và trả tiền nhuận bút, thù lao, các quyền lợi vật chất khác cho chủ sở hữu quyền tác giả.
</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-04">
        <div class="container">
            <div class="col-md-12 col-center">

                <div class="row">
                    <div class="title-7">4.	Điều khoản sử dụng<i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    <p>Bằng việc sử dụng hoặc ghé thăm website www.bananhso.com bạn đã chứng tỏ rằng mình chấp nhận vô điều kiện đối với các nội dung trong tất cả các điều khoản dưới đây.Nếu bạn không đồng ý với một phần hay toàn bộ các điều khoản này, xin vui lòng ngừng việc sử dụng website của chúng tôi.</p> 

<p>www.bananhso.com  có thể chứa những đường liên kết tới website của bên thứ ba nhưng không phải do www.bananhso.com  cung cấp hoặc có quyền sở hữu hay kiểm soát. Chúng tôi không chịu trách nhiệm về nội dung và các qui định riêng đối với bất kỳ website nào của bên thứ ba. www.bananhso.com  cũng sẽ không chịu bất kỳ trách nhiệm gì về các nghĩa vụ pháp lý phát sinh (nếu có) từ việc bạn sử dụng các website của bên thứ ba này. </p>
<p>www.bananhso.com thừa nhận bạn có quyền sử dụng website www.bananhso.com  với những điều kiện như sau: </p>
<p>+Sử dụng trang web www.bananhso.comvào mục đích cá nhân, phi thương mại; </p>
<p>+ Không sao chép, phân tán hoặc sửa lại bất kỳ phần nào của website mà chưa được sự chấp nhận bằng văn bản của www.bananhso.com ; </p>
<p>+ Không phát tán các thông điệp quảng cáo, thư rác, các bức ảnh… trái với qui định, trái với thuần phong mỹ tục và luật pháp hiện hành. Không phát tán bất kỳ nội dung nào có chứa virus, hoặc các chương trình, file làm hư hại tới máy tính; </p>
<p>+Không phá hoại máy chủ, hệ thống mạng liên kết tới website www.bananhso.com. Tuân theo các điều khoản sử dụng website www.bananhso.com . </p>
<p>+Khi tạo một tài khoản trên www.bananhso.com , bạn cần cung cấp thông tin đầy đủ và chính xác. Bạn sẽ tự chịu trách nhiệm về các vấn đề liên quan tới việc sử dụng tài khoản đó, do vậy chúng tôi khuyến cáo bạn nên giữ mật khẩu cẩn thận. Cần thông báo cho www.bananhso.com  ngay khi nghi ngờ có người nào đó sử dụng bất hợp pháp tài khoản của bạn. Bạn sẽ phải chịu trách nhiệm pháp lý đối với những tổn thất của www.bananhso.com  hoặc các bên có liên quan trong trường hợp các tổn thất đó được xác định là do tài khoản của bạn gây ra. www.bananhso.com sẽ không chịu trách nhiệm với những tổn thất của bạn nảy sinh do việc tài khoản của bạn bị sử dụng bất hợp pháp. </p>

<p>Bạn hiểu rõ và đồng ý rằng: Do nội dung của website được cập nhật từ nhiều nguồn khác nhau nên bạn sẽ phải hoàn toàn tự chịu rủi ro (nếu có) khi truy cập www.bananhso.com . Trong phạm vi cho phép của pháp luật, bộ phận quản lý và toàn bộ công nhân viên, các công ty liên quan, các tổ chức liên kết với www.bananhso.com  từ chối một cách rõ ràng mọi sự bảo đảm với website www.bananhso.com . www.bananhso.com  không có trách nhiệm với bất kỳ trường hợp nào (bao gồm nhưng không giới hạn) sau đây: </p>
<p>+Tổn thất cá nhân hoặc những thiệt hại bất khả kháng về tài sản có nguyên nhân từ việc sử dụng website; </p>
<p>+Tổn thất, thiệt hại đến từ sự truy cập hệ thống và/hoặc sự sử dụng các thông tin cá nhân, các thông tin về tài chính lưu trữ trong hệ thống một cách bất hợp pháp; </p>
<p>+Tổn thất, thiệt hại do bất kỳ lỗi, virus, các phần mềm gián điệp, hoặc những vấn đề tương tự như vậy được truyền tới/ hoặc từ trang web của chúng tôi bởi bên thứ ba;</p>
<p>+Tổn thất, thiệt hại gây ra do bất kỳ sự gián đoạn hoặc lỗi truyền tín hiệu tới/hoặc từ trang web của chúng tôi;</p>
<p>+Lỗi hoặc sai sót trong nội dung tin tức hoặc những thiệt hại mắc phải do việc bạn sử dụng nội dung trên/ hoặc thông qua trang web.</p>
<p>Giới hạn trách nhiệm đã nói tới trên đây sẽ áp dụng trong phạm vi điều chỉnh của luật pháp đối với từng trường hợp cụ thể. Chúng tôi không cam kết, hoặc chịu trách nhiệm về nội dung, sản phẩm hoặc dịch vụ được quảng cáo, chào bán bởi một bên thứ ba thông qua website www.bananhso.com . www.bananhso.com cũng sẽ không tham gia và chịu trách nhiệm về việc kiểm tra các giao dịch giữa bạn và bên thứ ba cung cấp sản phẩm hoặc dịch vụ đó. </p>

<p>Bạn cam kết KHÔNG khiếu nại www.bananhso.com(bao gồm các chi nhánh, văn phòng đại diện, bộ phận quản lý, công nhân viên và các trung tâm) về tất cả các thiệt hại, trách nhiệm, tổn thất, hoặc các chi phí tới từ: </p>
<p>+ việc bạn sử dụng website;</p>
<p>+ việc bạn vi phạm các điều khoản này; </p>
<p>+việc bạn vi phạm các qui định thành viên; </p>
<p>+việc bạn vi phạm quyền của bất kỳ bên thứ ba, bao gồm (không giới hạn) các quyền liên quan tới bản quyền tác giả, quyền sở hữu trí tuệ, quyền xuất bản hoặc các quyền cá nhân; hoặc </p>
<p>Bạn xác nhận rằng các tuyên bố miễn trừ trách nhiệm được quy định trong các mục trên là sự phân bổ công bằng và hợp lý về các rủi ro và lợi ích của thỏa thuận giữa bạn và chúng tôi, sau khi đã xem xét tới tất cả các yếu tố có liên quan, bạn đồng ý rằng các tuyên bố miễn trừ trách nhiệm này sẽ có thể được thực hiện trong phạm vi tối đa được luật pháp cho phép. </p>
<p>Bạn cũng xác nhận rằng bạn trên 18 tuổi hoặc được sự đồng ý của cha, mẹ hoặc người giám hộ để thừa nhận và cam kết thực hiện các qui định sử dụng này khi truy cập website www.bananhso.com .Trong bất kỳ trường hợp nào khác, bạn phải xác nhận rằng bạn đã trên 13 tuổi. Website www.bananhso.com được xây dựng không dự định dành cho trẻ em dưới 13 tuổi. Nếu bạn nhỏ hơn 13 tuổi, xin vui lòng không sử dụng website www.bananhso.com . </p>

<p>Bạn đồng ý rằng: </p>
<p>+ Website www.bananhso.com  có trụ sở chính tại Hà Nội, Việt Nam, do vậy những điều khoản này sẽ được điều chỉnh bởi luật pháp của Nước Cộng hoà Xã hội chủ nghĩa Việt Nam. Bất kỳ khiếu kiện hoặc vấn đề pháp lý nào phát sinh giữa bạn và www.bananhso.com  do việc sử dụng website www.bananhso.com  sẽ được giải quyết theo luật Việt Nam, tại tòa án Việt Nam;</p>
<p>+ Các qui định sử dụng này, cùng với các qui định về sự riêng tư, qui định thành viên và bất kỳ các văn bản khác của www.bananhso.com  được qui định trên website www.bananhso.com , sẽ cấu thành đầy đủ thoả thuận giữa bạn và www.bananhso.com  liên quan tới website này. Nếu bất kỳ điều khoản nào bị vô hiệu hoá bởi quyết định của cơ quan có thẩm quyền, thì sự vô hiệu lực của điều khoản đó sẽ không ảnh hưởng tới tính hiệu lực của các điều khoản khác được nêu ra trong các qui định sử dụng này. +www.bananhso.com  có quyền bổ sung, sửa đổi nội dung qui định sử dụng này vào bất kỳ thời điểm nào mà không cần phải thông báo trước.</p>
<p>+Người sử dụng các dịch vụ do www.bananhso.com  cung cấp phải có trách nhiệm theo dõi các qui định một cách thường xuyên để nhận biết được những sự thay đổi này. Việc bạn tiếp tục sử dụng website www.bananhso.com  sau khi chúng tôi bổ sung/ thay đổi các nội dung trong các điều khoản và qui định thể hiện rằng bạn đã đọc và chấp nhận với những sự sửa đổi đó. </p>
<p>+Bạn và www.bananhso.com thoả thuận rằng: bất cứ vấn đề khiếu nại, kiện tụng phát sinh từ/ hoặc liên quan tới website www.bananhso.com  phải được bắt đầu trong khoảng thời gian 1 (một) tháng tính từ khi nguyên nhân của việc khiếu nại, kiện tụng đó xảy ra. Ngoài thời gian đó, www.bananhso.com  có quyền từ chối tham gia giải quyết vấn đề đó.</p>
 <a href="#">Xem thêm</a> <i class="fa fa-chevron-circle-right"></i></p>

                </div>
            </div>
        </div>
    </section>
    <section class="section-07">
        <div class="container">
            <div class="col-md-12 col-center">

                <div class="row">
                    <div class="title-7">4.	Chính sách riêng tư<i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    <div class="clear"></div>
                    <p>
 <p>Việc thu thập thông tin cá nhân
 <p>Chúng tôi thu thập các thông tin nhận dạng cá nhân khi bạn đăng ký sử dụng một tài khoản tạiwww.bananhso.com . Chúng tôi cũng có thể nhận được các thông tin nhận dạng cá nhân do các đối tác kinh doanh cung cấp. 
 <p>Khi bạn đăng ký sử dụng dịch vụ của chúng tôi, chúng tôi sẽ hỏi tên, địa chỉ thư điện tử, ngày tháng năm sinh, nơi ở, nghề nghiệp. Sau khi bạn đã đăng ký, chúng tôi sẽ biết danh tính của bạn. 
 <p>Chúng tôi cũng tự động nhận được và ghi lại các thông tin trong các tập tin ghi chép trong máy chủ của chúng tôi từ cửa sổ trình duyệt của bạn, trong đó bao gồm địa chỉ IP, thông tin về tập tin cookie và trang web bạn đă yêu cầu. 
 <p>Chúng tôi sử dụng các thông tin cho hai mục đích: đáp ứng các yêu cầu của Bạn đối với một số sản phẩm và dịch vụ. 

 <p>Việc chia sẻ thông tin
 <p>Chúng tôi sẽ không bán hoặc cho thuê thông tin nhận dạng cá nhân của bạn cho bất kỳ người nào khác. 
 <p>Chúng tôi sẽ gửi các thông tin nhận dạng cá nhân về bạn cho các công ty hoặc các cá nhân khác trong trường hợp: 
 <p>Chúng tôi được bạn đồng ý cho tiết lộ thông tin đó; 
 <p>Chúng tôi cần tiết lộ thông tin của bạn để cung cấp các sản phẩm hoặc dịch vụ mà bạn yêu cầu; 
 <p>Chúng tôi cần gửi thông tin đó cho những công ty hoạt động thay mặt cho chúng tôi để cung cấp sản phẩm hoặc dịch vụ cho bạn. (trừ khi chúng tôi thông báo cho bạn biết nội dung khác, các công ty này không có quyền sử dụng các thông tin nhận dạng cá nhân mà chúng tôi cung cấp cho họ vượt quá phạm vi cần thiết để trợ giúp chúng tôi); 
 <p>Chúng tôi tuân theo các quyết định, lệnh hoặc bản án của tòa án hoặc thủ tục pháp lý; hoặc 
 <p>Chúng tôi thấy rằng các hành động của bạn trên các trang web của chúng tôi là vi phạm Điều khoản sử dụng, hoặc vi phạm các quy định hướng dẫn sử dụng của chúng tôi đối với các sản phẩm hoặc dịch vụ nhất định. 

 <p>Tập tin cookie 
 <p>Chúng tôi có thể thiết lập và truy cập www.bananhso.com các tập tin cookie trên máy tính của Bạn. 
 <p>Chúng tôi cho phép các công ty khác, là những công ty đang có các chương trình quảng cáo trên một số trang web của chúng tôi được thiết lập, truy cập các tập tin cookie của họ trên máy tính của bạn. Việc các công ty khác sử dụng tập tin cookie của họ sẽ tùy thuộc vào các qui định riêng tư của họ, chứ không phải là qui định này. Các hãng quảng cáo hoặc các công ty khác không thể truy cập các tập tin cookie của chúng tôi. 
 <p>Chúng tôi sử dụng các cảnh báo trên web của www.bananhso.com để truy cập các tập tin cookie của chúng tôi trong phạm vi mạng lưới các trang web của chúng tôi và liên quan tới các dịch vụ và sản phẩm của www.bananhso.com

 <p>Thay đổi thông tin tài khoản
 <p>Chúng tôi cho phép bạn sửa đổi thông tin tài khoản của bạn và các lựa chọn ưu tiên vào bất kỳ lúc nào, trong đó bao gồm cả việc bạn có muốn chúng tôi liên lạc với bạn về những sự kiện diễn ra trên tài khoản của bạn

 <p>Bảo mật
 <p>Thông tin tài khoản trên www.bananhso.com của bạn được bảo vệ bằng mật khẩu để bảo đảm sự riêng tư và an toàn cho bạn. Trong một số trường hợp, chúng tôi sử dụng hệ thống mã hóa SSL để bảo vệ các dữ liệu được truyền đi. 

 <p>Những thay đổi về chính sách riêng tư
 <p>Đôi khi chúng tôi có thể sửa đổi qui định này. Nếu chúng tôi có những thay đổi đáng kể về cách thức sử dụng thông tin cá nhân của bạn, chúng tôi sẽ thông báo cho bạn bằng cách đăng thông báo ở vị trí dễ nhận thấy trên website của chúng tôi. Bạn đồng ý rằng thông báo được đăng như vậy sẽ được coi như là bản thông báo đầy đủ và thỏa đáng cho bạn về những thay đổi nói trên. 
 <p>Bạn đồng ý rằng nếu bạn tiếp tục sử dụng các dịch vụ của dhúng tôi sau khi có sự sửa đổi đó, điều đó có nghĩa là bạn chấp nhận và đồng ý tuân theo qui định được sửa đổi
 <a href="#">Xem thêm</a> <i class="fa fa-chevron-circle-right"></i></p>

                </div>
            </div>
        </div>
    </section>

    <section class="section-04">
        <div class="container">
            <div class="col-md-12 col-center">

                <div class="row">
                    <div class="title-7">Sed ut perspiciatis unde omnis iste natus err <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    <p>Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. <a href="#">Xem thêm</a> <i class="fa fa-chevron-circle-right"></i></p>

                </div>
            </div>
        </div>
    </section>
    <section class="section-07">
        <div class="container">
            <div class="col-md-12 col-center">

                <div class="row">
                    <div class="title-7">Sed ut perspiciatis unde omnis iste natus err <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    <div class="clear"></div>
                    <p>Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. <a href="#">Xem thêm</a> <i class="fa fa-chevron-circle-right"></i></p>

                </div>
            </div>
        </div>
    </section>

    <section class="section-04">
        <div class="container">
            <div class="col-md-12 col-center">

                <div class="row">
                    <div class="title-7">Sed ut perspiciatis unde omnis iste natus err <i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    <p>Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolorSit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. <a href="#">Xem thêm</a> <i class="fa fa-chevron-circle-right"></i></p>

                </div>
            </div>
        </div>
    </section>
