@{
    ViewBag.Title = "Reset";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="picture-categories">

      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="single-image-container">
              
            </div> <!-- end single-image-container -->
          </div> <!-- end span12 -->

        </div> <!-- end row -->

        <div class="single-image-title">
          <div class="row">
            <div class="span6">
              <h4 class="title">Lấy Lại Mật Khẩu</h4>
            </div> <!-- end span6 -->
            <div class="span6">
              <a href="#" class="btn pull-right">Điền email, sau đó kiểm tra email để lấy lại mật khẩu.</a>
            </div> <!-- end span6 -->
          </div> <!-- end row -->
        </div> <!-- end single-image-title -->
      </div> <!-- end container -->

    </section> <!-- end picture-categories -->



    <!-- ============================  Categories End ============================ -->

    <!-- ============================  Image Decription Starts ============================ -->


    <section class="image-decription-container">
      <div class="container">
        <div class="row">
          <div class="span12">
            <figure>
              <input class="span10"  id=email name=email type="text" placeholder="Điền email">
			  <input class="span10" type=button value="Lấy lại mật khẩu qua email" onclick="Login();" id="btnSA">
            </figure>
          </div> <!-- end span6 -->
          
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end image-description-container -->

  <!-- ============================  Image Decription Ends ============================ -->
<script>
    function Login() {
        var formdata = new FormData(); //FormData object
        var email = document.getElementById("email").value;
        
        if (email == "") {
            alert("Nhập email");
            return;
        }
        
        document.getElementById("btnSA").disabled = true;
        document.getElementById("btnSA").value = "ĐANG XỬ LÝ, XIN ĐỢI TRONG GIÂY LÁT!";
        formdata.append("email", email);
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/members/resetPass');
        xhr.send(formdata);
        var content = "";
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText != "0") {
                    alert("Kiểm tra lại email để reset lại pass của bạn!");
                    window.location.href = "@Ichup.Config.domain/members/Login";
                } else {
                    document.getElementById("btnSA").disabled = false;
                    alert("Không tìm thấy email này! Kiểm tra lại email!");
                    document.getElementById("btnSA").value = "Lấy lại mật khẩu qua email";
                }
            }
        }
    }
</script>
