
<section class="image-decription-container" id="imagepage" style="display:none;top:20%;width:100%;display:block;position:relative;height:400px;float:left;">
      <div class="container">
        <div class="row">
          <div class="span6">
            <figure>
              <img src="" alt="img" id="image_source"/>
            </figure>
          </div> <!-- end span6 -->
          <div class="span6">
            <div class="item-description">
              <h5 class="title" id="image_id">File ID - #</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Size</th>
                  <th>Resolution</th>
                  <th>Prize</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <form action="">
                      <label class="checkbox">
                        <input type="checkbox" value="" id="image_chk1">
                        Thumbnail
                      </label>
                    </form>
                  </td>
                  <td>270x180</td>
                  <td>Free</td>
                </tr>
                <tr>
                  <td>
                    <form action="">
                      <label class="checkbox">
                        <input type="checkbox" value="" id="image_chk2">
                        Small
                      </label>
                    </form>
                  </td>
                  <td>570x363</td>
                  <td>Free</td>
                </tr>
                <tr>
                  <td>
                    <form action="">
                      <label class="checkbox">
                        <input type="checkbox" value="" id="image_chk3">
                        Original
                      </label>
                    </form>
                  </td>
                  <td id="image_width_height">1024x1024</td>
                  <td id="image_price">$0.99</td>
                </tr>
                
              </tbody>
            </table>
            </div> <!-- end item-description -->
          </div> <!-- end span6 -->
        </div> <!-- end row -->
      </div> <!-- end container -->
    </section> <!-- end image-description-container -->